.gallery{
    float:left;
    margin-left: 24px;
    height: 480px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
  }

  div.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}