.photoFrame{
    border: 1px solid black;
    margin: 16px;
    padding: 8px;
    width: 280px;
    height: 280px;
    float: left;
    text-align: center;
}

.photo {
    margin: auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.photo img {
    height: 200px;
    width: 200px;
}